/* Box model definition for the entire document */
html {
    box-sizing: border-box;
}

/* Inherit box model for all elements, including pseudo-elements */
*, *::before, *::after {
    box-sizing: inherit;
}

/* Reset margins and set minimum body height */
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Style for main content with maximum width and horizontal centering */
main {
    flex: 1;
    max-width: 25rem;
    margin: 0 auto;
}

/* Style for headers and footers with centered inline display and background color */
header, footer {
    display: flex;
    justify-content: center;
    background-color: teal;
}

/* Reset margin for headings */
h1 {
    margin: 0;
}

/* Style for forms with inline display and margin */
form {
    display: flex;
    margin: 1rem;
}

/* Style for text fields with flexible width and padding */
input[type=text] {
    flex: 1;
    padding: .5rem;
}

/* Style for lists with column display, spacing, and reset margin and padding */
ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 0;
    padding: 0;
}

/* Style for list items with inline display and spacing between items */
li {
    display: flex;
    padding: 0;
    gap: 1rem;
}

/* Style for paragraphs following a checked checkbox with strikethrough text */
input[type=checkbox]:checked + p {
    text-decoration: line-through;
}

/* Reset margin for paragraphs */
p {
    margin: 0;
}

/* Style for footers with padding */
footer {
    padding: 1rem;
}
